<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PersonalInformationModification</title>
</head>
<body>

<div class=leftBarparent>
</div>
<div class=topBarParent>
    <div class=topBarParent2>
        <div class="topBar"></div>

        <div class="dropdown-container">
            <span id="category">카테고리</span>
            <div class="dropdown-menu" id="category_toggle">
                <a href="#" data-value="list1">목록1</a>
                <a href="#" data-value="list2">목록2</a>
                <a href="#" data-value="list3">목록3</a>
                <a href="#" data-value="list4">목록4</a>
                <a href="#" data-value="list5">목록5</a>
            </div>
            <span id="theme">테마</span>
            <div class="dropdown-menu" id="theme_toggle">
                <a href="#" data-value="list1">목록6</a>
                <a href="#" data-value="list2">목록7</a>
                <a href="#" data-value="list3">목록8</a>
                <a href="#" data-value="list4">목록9</a>
                <a href="#" data-value="list5">목록10</a>
            </div>
            <span id="new_product">신상품</span>
            <div class="dropdown-menu" id="new_product_toggle">
                <a href="#" data-value="list1">목록11</a>
                <a href="#" data-value="list2">목록12</a>
                <a href="#" data-value="list3">목록13</a>
                <a href="#" data-value="list4">목록14</a>
                <a href="#" data-value="list5">목록15</a>
            </div>
            <span id="best">베스트</span>
            <span id="interior_challenge">인테리어 챌린지</span>
            <span id="board">게시판</span>
            <div class="dropdown-menu" id="board_toggle">
                <a href="#" data-value="list1">공지사항</a>
                <a href="#" data-value="list2">리뷰 게시판</a>
                <a href="#" data-value="list3">자유 게시판</a>
            </div>
            <span id="special_price">특가</span>

        </div>

    </div>
    <div class=e1_5240>
        <div class=e1_5241>
            <div class=e1_5242>
                <div class=ei1_5242_309_7322>
                    <div class="ei1_5242_309_7323"></div>
                    <div class="ei1_5242_309_7324"></div>
                </div>
            </div>
            <div class=e1_5243>
                <div class="ei1_5243_309_8590"></div>
            </div>
            <div class=e1_5244>
                <div class="ei1_5244_309_8210"></div>
            </div>
            <div class=e1_5245>
                <div class="ei1_5245_309_8633"></div>
            </div>
            <div class=e1_5246>
                <div class="e1_5247"></div><span class="e1_5248"></span>
            </div>
        </div>
        <div class=e1_5249>
            <div class="e1_5250"></div>
            <div class="e1_5251"></div>
        </div>
    </div>
    <div class="e1_5252"></div>
</div>
<div class=e1_5253>
    <div class="e1_5254"></div>
    <button class="homePageImg">
        <img src="images/image_25.png" alt="홈페이지 이미지">
    </button>
    <div class=e1_5256>
        <span class="customer">고객센터</span>
        <span class="signUp">회원가입</span>
        <span class="logIn">로그인</span>
    </div>
    <div class=side_button>
        <div class="side_bar_menus"></div>
        <div class=side_button_container>
            <div class="side_button_background"></div>
            <div class=side_button_face_container>
                <div class="side_button_face"></div>
                <div class="side_button_left_eye"></div>
                <div class="side_button_right_eye"></div>
            </div>
        </div>
    </div>
    <div class=logInPage>
        <span class="logIn2">로그인</span>
        <span class="logIn2Line"></span>
        <span class="login">로그인</span>
        <span class="signUp2">회원가입</span>
        <span class="idPassword">아이디 / 비밀번호</span>
    </div>
    <!--  html 전체 영역을 지정하는 container -->
    <div id="container">
        <!--  login 폼 영역을 : loginBox -->
        <div id="loginBox">
            <form method="GET" id="sign_form_input">
                <!-- 로그인 페이지 타이틀 -->
                <p id="signupBoxTitle"><b>회원가입</b></p>
                <!-- 아이디, 비번, 버튼 박스 -->
                <div id="inputBox">
                    <p><span>이름 </span>
                        <input type="text" name="uname" id="uname" style="width: 70px; height: 15px;"></p>
                    <p><span>아이디 </span>
                        <input type="text" name="uid" id="uid" style="width: 70px; height: 15px;" >&nbsp;&nbsp;<button> 중복체크 </button></p>
                    <p><span>비밀번호 </span>
                        <input type="password" name="upw" id="upw" style="width: 70px; height: 15px;"></p>
                    <p><span>이메일 </span>
                        <input type="text" name="uemail" id="uemail" style="width: 70px; height: 15px;">&nbsp;@&nbsp;
                        <input type="text" name="uemailDomain" id="uemailDomain" class="form-control" style="width: 70px; height: 15px;">
                    </p>

                    <span for="areaCode">휴대폰번호</span>
                    <select name="areaCode" id="areaCode" style="width: 55px; height: 23px;">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="019">019</option>
                    </select>
                    -
                    <input type="number" name="middleNumber" id="middleNumber" style="width: 50px; height: 15px;"> -
                    <input type="number" name="lastNumber" id="lastNumber" style="width: 50px; height: 15px;">

                    <p><span>주소</span>
                        <input type="text" name="uaddress" id="uaddress" style="width: 70px; height: 15px;">&nbsp;
                        <button onclick="checkPostalCode()">우편번호</button>
                    </p>
                    <p>
                        <input type="text" name="uaddressDetail1" id="uaddressDetail1" style="width: 70px; height: 15px;">&nbsp;
                        <input type="text" name="uaddressDetail2" id="uaddressDetail2" style="width: 70px; height: 15px;">
                    </p>
                    <p>
                        <span>정보메일수신</span>
                        <input type="radio" id="Yes" name="YesNo" value="Y">
                        <label for="Yes">예</label>

                        <input type="radio" id="No" name="YesNo" value="N">
                        <label for="No">아니요</label>
                    </p>
                    <p><span>약관동의</span><input type="checkbox" name="uterms" id="uterms"></p>
                </div>
            </form>

        </div>

    </div>
    </div>

</body>
</html>