<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mypage/myCoupon.css">
    <title>myCoupon</title>
</head>
<body>
<header th:replace="/common/header.html"></header>
<div class="sidebar_container">
    <span class="sidebar_container_text">마이 페이지</span>
    <div class="sidebar_button1">
        <span class="sidebar_button1_text"onclick="goHome()">내 정보</span>
    </div>
    <div class="sidebar_button2">
        <span class="sidebar_button2_text">주문 목록</span>
    </div>
    <div class="sidebar_button3">
        <span class="sidebar_button3_text">보유 쿠폰</span>
    </div>
</div>
<div id="con_lf">
    <h2 class="pg_tit">
        <span>쿠폰관리</span>
    </h2>

    <nav id="tab_cate">
        <ul id="tab_cate_ul">
            <li class="active"><a onclick="activeCoupon()">사용가능한 쿠폰</a></li>
            <li class="inactivate"><a onclick="inactivateCoupon()">사용완료, 기한만료 쿠폰</a></li>
        </ul>
    </nav>

    <p class="pg_cnt">
        <em>총 0건</em>의 쿠폰내역이 있습니다.
    </p>

    <div class="tbl_head02 tbl_wrap">
        <table>
            <colgroup>
                <col class="w50">
                <col>
                <col>
                <col>
                <col>
                <col class="w140">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">할인쿠폰</th>
                <th scope="col">사용가능</th>
                <th scope="col">할인율(%)</th>
                <th scope="col">설명</th>
                <th scope="col">취득일자</th>
                <th scope="col">만료일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon : ${userCoupon}">
                <td colspan="1" th:text="${coupon.getCoupon_name()}"/>
                <td colspan="1" th:text="${coupon.getCoupon_status()}"/>
                <td colspan="1" th:text="${coupon.getRate()}"/>
                <td colspan="1" th:text="${coupon.getComment()}"/>
                <td colspan="1" th:text="${coupon.getExpiry_date()}"/>
                <td colspan="1" th:text="${coupon.getDate_of_issue()}"/>
            </tr>
            <tr th:if="${userCoupon.isEmpty()}">
                <td colspan="6" class="empty_list">보유 쿠폰이 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
    function goHome(){
        window.location.href = "home";
    }
    function inactivateCoupon(){

    }
    function activeCoupon(){

    }

</script>
</body>
</html>