<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mypage/myCoupon.css">
    <title>myCoupon</title>
</head>
<body>
<header th:replace="/common/header.html"></header>
<div class="sidebar_container">
    <span class="sidebar_container_text">마이 페이지</span>
    <div class="sidebar_button1">
        <span class="sidebar_button1_text"onclick="goHome()">내 정보</span>
    </div>
    <div class="sidebar_button2">
        <span class="sidebar_button2_text">주문 목록</span>
    </div>
    <div class="sidebar_button3">
        <span class="sidebar_button3_text">보유 쿠폰</span>
    </div>
</div>
<div id="con_lf">
    <h2 class="pg_tit">
        <span>쿠폰관리</span>
    </h2>

    <nav id="tab_cate">
        <ul id="tab_cate_ul">
            <li class="active"><a onclick="activeCoupon()">배송 중</a></li>
            <li class="inactivate"><a onclick="inactivateCoupon()">배송 완료</a></li>
        </ul>
    </nav>

    <p class="pg_cnt">
        <em>총 0건</em>의 주문내역이 있습니다.
    </p>

    <div class="tbl_head02 tbl_wrap">
        <table>
            <colgroup>
                <col class="w50">
                <col>
                <col>
                <col>
                <col>
                <col class="w140">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">상품 이름</th>
                <th scope="col">상품 가격</th>
                <th scope="col">상품 수량</th>
                <th scope="col">구매 날짜</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${ userOrder }">
                    <td colspan="1" th:text="${order.getName()}"></td>
                    <td colspan="1" th:text="${order.getPrice()}"></td>
                    <td colspan="1" th:text="${order.getAmout()}"></td>
                    <td colspan="1" th:text="${order.getPayment_date()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
    function goHome(){
        window.location.href = "home";
    }
    function inactivateCoupon(){

    }
    function activeCoupon(){

    }

</script>
</body>
</html>