.product_list{
	margin : 0 auto;
	width :1300px;
	padding-left: 198px;
}

.product_parents{
	list-style-type: none;
	position: relative;
	text-align: center;
	top: 40px;
}
.select_product{
	display: inline-block;
    background-color: #99A3FE;
    color: white;
	line-height: 60px;
	width: 350px;
	height: 60px;
	margin-right: 20px;
	border: 1px solid black;
}
.insert_product{
	display: inline-block;
	line-height: 60px;
	width: 350px;
	height: 60px;
	margin-right: 20px;
	border: 1px solid black;
}
.modify_product{
	display: inline-block;
	line-height: 60px;
	width: 350px;
	height: 60px;
	margin-right: 20px;
	border: 1px solid black;
}

.product_page{
	margin : 0 auto;
	display: grid;
	position: relative;
	width : 1100px;
	height: 800px;
	border: 1px solid black;
	top : 80px;
	left : 10px;
	font-size: 16px;
	align-items: end;
	justify-content: space-evenly;
}

.p_radio{
	margin-right : 10px;
	width : 10px;
	height: 10px;
}

.radio_space{
	margin : 0 40px;
}

.date_space{
	margin: 0 20px;
}
.date_size{
	width: 200px;
	height: 20px;
}

.p_name{
	width:250px;
	height: 20px;
	font-size: large;
}

.p_price{
	width:250px;
	height: 20px;

}
.c_ref{
	width:250px;
	height: 20px;

}

.insert_button{
	position: relative;
	width: 150px;
	height: 50px;
	background-color: #99A3FE;
    color: white;
	top : -10px;
	left: 600px;
}

.page_name{
	font-size: 22px;
}


.table_parents {
	position: relative;
	margin : 0 auto;
	left: 150px;
	top : 150px;
	width: 1650px;
	border-collapse: collapse; /* 테이블 셀 사이의 간격 제거 */
}

th, td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f2f2f2;
}
