<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mypage/myCoupon.css">
    <title>myCoupon</title>
</head>
<body>
<header th:replace="/common/header.html"></header>
<div class="sidebar_container">
    <span class="sidebar_container_text">마이 페이지</span>
    <div class="sidebar_button1">
        <span class="sidebar_button1_text"onclick="goHome()">내 정보</span>
    </div>
    <div class="sidebar_button2">
        <span class="sidebar_button2_text">주문 목록</span>
    </div>
    <div class="sidebar_button3">
        <span class="sidebar_button3_text" onclick="goCoupon()">보유 쿠폰</span>
    </div>
</div>
<div id="con_lf">
    <h2 class="pg_tit">
        <span>주문 관리</span>
    </h2>

    <nav id="tab_cate">
        <ul id="tab_cate_ul">
            <li id="usage" class="active"><a onclick="switchTab('activate')">배송 중</a></li>
            <li id="useless" class="inactivate"><a onclick="switchTab('inactivate')">배송 완료</a></li>
        </ul>
    </nav>

    <p class="pg_cnt">
        <em>총 <span th:text="${orderCount}"></span>건</em>의 주문내역이 있습니다.
    </p>

    <div class="tbl_head02 tbl_wrap">
        <table id="orderTable">
            <colgroup>
                <col class="w50">
                <col>
                <col>
                <col>
                <col>
                <col class="w140">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">상품 이름</th>
                <th scope="col">상품 가격</th>
                <th scope="col">상품 수량</th>
                <th scope="col">구매 날짜</th>
                <th scope="col">배송 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${userOrder}">
                <td colspan="1" th:text="${order.name}"/>
                <td colspan="1" th:text="${order.price}"/>
                <td colspan="1" th:text="${order.amount}"/>
                <td colspan="1" th:text="${order.payment_date}"/>
                <td colspan="1" th:text="${order.getDelivery_status()}"/>
            </tr>
            <tr th:if="${userOrder.isEmpty()}">
                <td colspan="6" class="empty_list">주문 내역이 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const userOrder = [[${userOrder}]];
    const orderCount = [[${orderCount}]];
    const orders = [[${json}]];
    /*]]>*/
</script>

<script>
    function goHome(){
        window.location.href = "home";
    }
    function goCoupon(){
        window.location.href = "coupon";
    }
    function switchTab(event) {
        const usage = document.getElementById("usage");
        const useless = document.getElementById("useless");
        const orderTable = document.getElementById("orderTable");

        if (event === "activate" && usage.classList.contains("inactivate")) {

            console.log(userOrder);
            console.log(orders);
            // 배송 중 탭을 활성화
            usage.classList.remove("inactivate");
            usage.classList.add("active");
            useless.classList.remove("active");
            useless.classList.add("inactivate");
            printUsageCoupon(orderTable, "배송중");
        } else if (event === "inactivate" && useless.classList.contains("inactivate")) {
            // 배송 완료 탭을 활성화
            useless.classList.remove("inactivate");
            useless.classList.add("active");
            usage.classList.remove("active");
            usage.classList.add("inactivate");
            printUsageCoupon(orderTable, "배송 완료");
        }
    }
    function printUsageCoupon(tb,status){
        while (tb.rows.length > 1) {
            tb.deleteRow(1);                                                    // 첫 번째 행을 반복적으로 삭제
        }
        let order = JSON.parse(orders);                                       //json 형식
        for(let i=0; i<orderCount; i++){                                       // 쿠폰 개수 만큼 반복 돈다.
            if(order[i]["delivery_status"] === status) {
                let newRow = tb.insertRow(-1);                                  // 새 행 추가
                newRow.insertCell(0).innerHTML = order[i]["name"];      //Key 값이 ["이거"] 인 데이터를 새로운 cell 에 추가
                newRow.insertCell(1).innerHTML = order[i]["price"];
                newRow.insertCell(2).innerHTML = order[i]["amount"];
                newRow.insertCell(3).innerHTML = order[i]["payment_date"];
                newRow.insertCell(4).innerHTML = order[i]["delivery_status"];
            }
        }
    }

</script>
</body>
</html>