<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_page</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/member/blacked.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .tab2{
            background-color: #99A3FE;
            color:white;
        }
    </style>
</head>
<body>
<form>
    <header th:replace="/admin/common/adminHeader.html"></header>
    <section style="position: relative">
        <div class="member_list">
            <ul class="tab_parents">
                <li class="tab3" onclick="go_admin()">회원 관리</li>
                <li class="tab1" onclick="go_dormant()">휴면계정관리</li>
                <li class="tab2">블랙계정관리</li>
            </ul>
        </div>
        <div class="member_search_bar">
            <form id="selectAccounts" th:action="@{member/blacked}"
                  method="get">
                <select id="searchCondition" name="searchCondition">
                    <option value="Aid">아이디</option>
                    <option value="Aemail">이메일</option>
                    <option value="Areason">블랙사유</option>
                    <option value="AblackDate">블랙당한 날</option>
                </select>
                <input type="text" placeholder="아이디, 이메일 등" id="searchValue" name="searchValue" class="searchMember">
                <button type="submit" class="mem_search_icon"></button>
            </form>
        <table class="search_one">
            <tr>
                <th>아이디</th>
                <th>이메일</th>
                <th>블랙사유</th>
                <th>블랙당한 날</th>
            </tr>
            <tr th:if="${#lists.isEmpty(searchBlackList)}" style="text-align:center;">
                <td colspan="4">검색 결과가 없습니다.</td>
            </tr>
            <tr th:each=" blackedOne : ${ searchBlackList } ">
                <td th:text="${blackedOne.id}"></td>
                <td th:text="${blackedOne.email}"></td>
                <td th:text="${blackedOne.reason}"></td>
                <td th:text="${blackedOne.blackDate}"></td>
            </tr>
        </table>
        <table class="table_parents">
            <tr>
                <th>아이디
                    <button>↧</button>
                </th>
                <th>이메일
                    <button>↧</button>
                </th>
                <th>블랙사유
                    <button>↧</button>
                </th>
                <th>블랙당한 날
                    <button>↧</button>
                </th>
            </tr>
            <tr th:if="${#lists.isEmpty(blackList)}" style="text-align:center;">
                <td colspan="4">검색 결과가 없습니다.</td>
            </tr>
            <tr th:each=" blacked : ${ blackList } ">
                <td th:text="${blacked.id}"></td>
                <td th:text="${blacked.email}"></td>
                <td th:text="${blacked.reason}"></td>
                <td th:text="${blacked.blackDate}"></td>
            </tr>
        </table>
        </div>
        <script>
            function go_dormant(){
                window.location.href = "/admin/member/dormant"
            }
            function go_admin(){
                window.location.href = "/admin/member"
            }
        </script>
    </section>
</form>
</body>
</html>