<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insertCategory</title>
    <link rel="stylesheet" href="/css/admin/product/insertCategory.css">
</head>
<body>
<header th:replace="/admin/common/adminHeader.html"></header>
<div class="s_wrap">
    <h2>카테고리 등록</h2>
    <form id="frm">
        <div class="tbl_frm01">
            <table>
                <colgroup>
                    <col class="w180">
                    <col>
                </colgroup>

                <tbody>
                <tr>
                    <th scope="row">상위 카테고리</th>
                    <td>
                        <input type="text" name="category1" class="required frm_input w300" style="background-repeat: no-repeat;">
                    </td>
                </tr>
                <tr>
                    <th scope="row">하위 카테고리</th>
                    <td>
                        <input type="text" name="category2" class="frm_input w300">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="btn_confirm"> <!-- 카테고리 등록 또는 목록 -->
            <input type="submit" id="registBtn" name="regist" value="등록" class="btn_large">
            <a href="/admin/event" class="btn_large bx-white">목록</a>
        </div>
    </form>
</div>

</body>
</html>