@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#allParent{
    position: fixed;
    width: 90%; /* 또는 원하는 최대 너비 */
    max-width: 100%; /* 최대 너비 설정 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    z-index: 999;
}


.e1_5253 {
    width: 100%;
    height: 111px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
}
.e1_5254 {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 111px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e1_5256 {
    width: 307px;
    height: 44px;
    position: absolute;
    left: 1507px;
    top: 43px;
}
.topBarParent {     /*상단 메뉴 바 부모*/
    font-family: 'Pretendard-Regular';
    width: 100%;
    height: 184px;
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
}
.topBarParent2 {    /*상단 메뉴 바 부모2*/
    width: 100%;
    height: 73px;
    position: absolute;
    left: 0px;
    top: 111px;
}
.topBar { /* 상단 메뉴 바 */
    position: relative;
    background-color: #FFF5E7;
    background-size: cover;
    width: 150%;
    height: 50px;
    left: 0px;
    top: 0px;
}
.customer, .signUp, .myPage, .logIn, .logOut, .adminPage{
    cursor: pointer;
    color: black;
    width: 82px;
    height: 24px;
    font-size: 15px;
    font-family: Pretendard-Regular;
}
.myInformation{
    font-family: Pretendard-Regular;
    font-size: 13px;
    color: #6969ff;
}
.customer:hover, .signUp:hover, .myPage:hover, .logIn:hover, .logOut:hover, .adminPage:hover {
    color: #6969ff;
    text-decoration: underline;
}
@keyframes appearFromSideAnimation {    /*드롭 다운 메뉴 애니메이션*/
    from {opacity: 0;}
    to {opacity: 1; }
}
.dropdown-container {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 0px;
    display: inline-block;
}
#category { /* 카테고리 */
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute;  /* absolute  */
    left: 30px; /* 왼쪽으로 px 이동 */
    width: 80px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#category:hover{font-size: 20px; transition: font-size 0.5s ease;}

#theme {    /*테마*/
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute; /* absolute  */
    left: 150px; /* 왼쪽으로 px 이동 */
    width: 50px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#theme:hover{font-size: 20px;transition: font-size 0.5s ease;}

#new_product {    /*신상품*/
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute; /* absolute  */
    left: 250px; /* 왼쪽으로 px 이동 */
    width: 60px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#new_product:hover{font-size: 20px; transition: font-size 0.5s ease;}

#best {    /*베스트*/
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute; /* absolute  */
    left: 350px; /* 왼쪽으로 px 이동 */
    width: 60px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#best:hover{font-size: 20px;transition: font-size 0.5s ease;}

#interior_challenge {    /*인테리어 챌린지*/
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute; /* absolute  */
    left: 440px; /* 왼쪽으로 px 이동 */
    width: 150px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#interior_challenge:hover{font-size: 20px;transition: font-size 0.5s ease;}

#board {                /*게시판*/
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute; /* absolute  */
    left: 620px; /* 왼쪽으로 px 이동 */
    width: 60px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#board:hover{font-size: 20px;transition: font-size 0.5s ease;}

#special_price {                /*특가*/
    top: -3px;
    font-size: 16px;
    transition: font-size 0.5s ease;
    position: absolute; /* absolute  */
    left: 720px; /* 왼쪽으로 px 이동 */
    width: 50px; /* 상위 컨테이너의 너비를 증가 */
    height: 54px; /* 상위 컨테이너의 높이를 증가 */
}
#special_price:hover{font-size: 20px;transition: font-size 0.5s ease;}

/* 드롭다운 메뉴 배경색 */
.dropdown-menu{
    display: none; /* 초기에는 드롭다운 메뉴를 숨김 */
    position: absolute; /* 절대 위치로 설정하여 부모 요소를 기준으로 위치를 조정 */
    top: 45px;
    background-color: rgb(255, 255, 255);
    min-width: 150px; /* 드롭다운 메뉴 가로 너비*/
    z-index: 1;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#category_toggle{left: 10px;}
#theme_toggle{left: 100px;}
#new_product_toggle{left: 200px;}
#board_toggle{left:570px;}
/* 나오는 메뉴 아가들 설정 */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* 드롭다운 선택시 배경 색 */
.dropdown-menu a:hover{
    color: rgb(255, 255, 255);
    background-color: #4d4d4d;
}
.dropdown-menu {
    animation: appearFromSideAnimation 0.7s ease forwards;
    position: absolute;
    /* 기타 스타일 */
}

button img{ width: 45%;}
@media all and (min-width: 1710px) {
    .customer { /* 고객센터 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1220px;
        top: 52px;
    }
    .signUp, .myPage { /* 회원가입 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1320px;
        top: 52px;
    }
    .logIn, .logOut { /* 로그인 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1420px;
        top: 52px;
    }
    .adminPage {
        position: fixed;
        z-index: 999;
        left: 1120px;
        top: 52px;
    }
    .myInformation{
        position: fixed;
        z-index: 999;
        left: 1020px;
        top: 52px;
    }
}
@media all and (max-width: 1710px) {
    .customer { /* 고객센터 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1220px;
        top: 52px;
    }
    .signUp, .myPage { /* 회원가입 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1320px;
        top: 52px;
    }
    .logIn, .logOut { /* 로그인 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1420px;
        top: 52px;
    }
    .adminPage {
        position: fixed;
        z-index: 999;
        left: 1120px;
        top: 52px;
    }
    .myInformation{
        position: fixed;
        z-index: 999;
        left: 1020px;
        top: 52px;
    }
}
@media all and (max-width: 1438px) {
    .customer { /* 고객센터 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 920px;
        top: 52px;
    }
    .signUp, .myPage { /* 회원가입 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1020px;
        top: 52px;
    }
    .logIn, .logOut { /* 로그인 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 1120px;
        top: 52px;
    }
    .adminPage {
        position: fixed;
        z-index: 999;
        left: 820px;
        top: 52px;
    }
    .myInformation{
        position: fixed;
        z-index: 999;
        left: 720px;
        top: 52px;
    }
}
@media all and (max-width: 1138px) {
    .customer { /* 고객센터 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 500px;
        top: 52px;
    }
    .signUp, .myPage { /* 회원가입 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 600px;
        top: 52px;
    }
    .logIn, .logOut { /* 로그인 글자 위치*/
        position: fixed;
        z-index: 999;
        left: 700px;
        top: 52px;
    }
    .adminPage {
        position: fixed;
        z-index: 999;
        left: 400px;
        top: 52px;
    }
    .myInformation{
        position: fixed;
        z-index: 999;
        left: 300px;
        top: 52px;
    }
}
.homePageImg {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;

    left: -120px;
    top: 0px;
    background-repeat: no-repeat;
}